.avatar-container {
    position: relative;
    display: inline-block;
}

.online-badge {
    position: absolute;
    bottom: 15px;
    right: 5px;
    width: 18px;
    height: 18px;
    background: #00ff88;
    border: 3px solid #050505;
    border-radius: 50%;
    box-shadow: 0 0 10px #00ff88;
}

/* Deixa o texto dos cards alinhado à esquerda para parecer lista pro */
.link-card {
    flex-direction: row !important;
    justify-content: flex-start !important;
    text-align: left !important;
    gap: 15px;
}

.text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.arrow {
    font-size: 0.8rem;
    opacity: 0.3;
    transition: 0.3s;
}

.link-card:hover .arrow {
    opacity: 1;
    transform: translateX(5px);
}
